{% extends 'base.html.twig' %}

{% block title %}Maillots{% endblock %}

{% block body %}
    <h1>Maillots</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Equipe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shirt in shirts %}
            <tr>
                <td>{{ shirt.id }}</td>
                <td>{{ shirt.team }}</td>
                <td>
                    <a href="{{ path('app_shirt_show', {'id': shirt.id}) }}" class="btn btn-primary btn-sm">show</a>
                    <a href="{{ path('app_shirt_edit', {'id': shirt.id}) }}" class="btn btn-warning btn-sm">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
